.contenedorBotones{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
button{
    background-color: aqua;
    height: auto;
    width: 100px;
    padding: 10px;
    margin: 2px;
    font-weight: bold;
}
#resultado{
    margin-top: 10px;
    border: 1px dashed black;
    background-color: lightskyblue;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
p{
    font-size: larger;
    font-weight: bolder;
    
}