.contenedorBotones{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
button{
    background-color: aqua;
    height: auto;
    width: 100px;
    padding: 20px;
    margin: 5px;
}